@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue:hsl(245, 75%, 52%);
  --very-pale-blue:hsl(225, 100%, 98%);
  --desaturated-blue:hsl(224, 23%, 55%);
  --dark-blue:hsl(223, 47%, 23%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 "Red Hat Display", sans-serif;
  background: var(--pale-blue) url('./images/pattern-background-desktop.svg') no-repeat;
}